/tigercheck
/tigercheck.exe
.zig-cache/
zig-cache/
zig-out/
zig-pkg/

# Death to .DS_Store
.DS_Store

# Forks
/zls/
/tigerbeetle

# zig
/zig/*
!/zig/download.win.ps1
!/zig/download.ps1
!/zig/download.sh

# Don't look at this
TIGER_STYLE.md
/tasks/
