name: Release
permissions: {}

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version (for example: 0.1.0)"
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: release
          fetch-depth: 0

      - run: ./zig/download.sh
      - run: ./zig/zig build release -- --version "${{ inputs.version }}" --sha "${{ github.sha }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
